__pycache__/
*.py[cod]
.pytest_cache/
.ruff_cache/
.mypy_cache/
.coverage
coverage.xml
dist/
build/
*.egg-info/
.venv/
venv/
reports/
dist/
*.snap
*.egg-info/
.snapcraft/
parts/
prime/
stage/
snap/.snapcraft/
snap/parts/
snap/prime/
snap/stage/
.env
.env.*
!*.example
